/* Still in Progress CSS GLC FILE */

#frpsip {background-color: #0002;padding: 17px;}
#frpsip p {margin-top:17px;}
#frpsip q {grid-area:q;quotes:none; font-weight:500;margin-left:11px;}
#frpsip q > span {color:#767aaf;font-weight:300;}
#frpsip details {padding-left: 34px;}
#frpsip summary {list-style-image: url(https://api.iconify.design/gg/shape-rhombus.svg?color=%231691b2&width=18);list-style-position: unset;}
#frpsip summary::marker {color: red;}
